html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(233,124,41);
  background: linear-gradient(-90deg, rgba(233,124,41,1) 0%, rgba(237,95,38,1) 100%);
}

.form-signin {
  width: 100%;
  max-width: 380px;
  padding: 0px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card-code{ background-color: #F1F1F1 !important;}
