<!DOCTYPE html>
<html lang="es">
    <head>
    <title>Talento TI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="robots" content="noindex, follow">
    <?php
    session_start(); 
    session_regenerate_id(true);
    if (!isset($_SESSION['usuario']) || session_status() === PHP_SESSION_NONE) {
        die('No hay sesion');
        
    }else{
    //print("<pre>".print_r($_SESSION['usuario'],true)."</pre><br>");
    //print("<pre>".print_r($_SESSION['persona'],true)."</pre><br>");
    //print("<pre>".print_r($_SESSION['ofertas'],true)."</pre><br>");
    //print("<pre>".print_r($_SESSION['solicitudes'],true)."</pre><br>");
    if($_SESSION['persona'][0]['id_tipo_persona'] == 3){
       // print("<pre>".print_r($_SESSION['habilidades'],true)."</pre><br>");
    }
    //obtener variables a utilizar
    $nombre = $_SESSION['persona'][0]['nombre_razonsocial'].' '.$_SESSION['persona'][0]['apellidos'];
    $id_tipo_persona = $_SESSION['persona'][0]['id_tipo_persona'];
    } 
    ?>
    <base href="/talento-ti/" />
    </head>
    <body>
    <main>  
    <div class="wrapper d-flex align-items-stretch">
      <?php include "templates/menu.html" ?>


    <!--************************
        CONTENIDO DEL INFORME
    *****************************-->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="row">
            <div class="col-md-6" id="breadcrum">
            </div>
            <div class="col-md-6" id="profile">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="namecard mr-3">
                        <span class="name">
                            <?php echo $nombre; ?>
                        </span> 
                        <span class="type">
                            <?php
                            if($id_tipo_persona == 2){
                                print_r('Empresa');
                            }else if($id_tipo_persona == 3){
                                print_r('Profesional');
                            }
                            ?> TI</span>
                    </div><!--//NAME-->
                    <img src="https://via.placeholder.com/48" class="align-self-center mr-3 rounded-circle" alt="...">
                </div>
            </div>
        </div>
    <hr>
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 ">
            <h2>Bienvenido <?php $nombre ?> </h2> 
            <h2><?= $template ?></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit est sed dolor hendrerit malesuada. Vestibulum sem ligula, iaculis in nunc luctus, vulputate faucibus eros. </p> 
        </div>
        <div class="col-md-3 col-xs-12 text-right">
        <?php 
        if($id_tipo_persona == 2){
            ?>
            <a href="crearOferta" class="btn btn-default btn-block">Crear Oferta Laboral</a>
            <?php
        }else if($id_tipo_persona == 3){
            ?>
            <a href="" class="btn btn-default btn-block">Subir o Actualizar tu CV</a>
            <?php
        }
        ?>
        </div>
    </div><!--//ROW-->
    <hr>
    <!-- Habilidades-->
    <div class="row justify-content-between align-items-center">
        <div class="col-md-12 ">
            <?php 
                if(isset($_SESSION['habilidades'])){
                    if($_SESSION['habilidades'] && $id_tipo_persona == 3){
                        foreach($_SESSION['habilidades'] as $hab){
                        ?>
                        <button onclick="location.href='habilidadesPersona'" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="<?= $hab['nombre_habilidad'] ?>">
                            <?php print_r($hab['nombre_habilidad']) ?>
                        </button>
                        <?php
                        }
                    }else if(!$_SESSION['habilidades'] && $id_tipo_persona == 3){
                        ?>
                        <button onclick="location.href='habilidadesPersona'" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                            <?php print_r('Sin habilidades aun') ?>
                        </button>
                        <?php
                    }
                }
            ?> 
            <?php 
            include 'templates/'.$template.'.html'
            ?>
       </div>
       
    </div><!--//ROW-->
 
<?php if($id_tipo_persona == 2){
         ?>
            <h3>Ofertas Creadas</h3>
        <?php 
      }else if($id_tipo_persona == 3){ 
         ?>
            <h3>Ofertas Destacadas</h3>
        <?php 
       } ?>
    <div class="row mb-5 mt-5" >
        <?php if($id_tipo_persona == 3){
            foreach($_SESSION['ofertas'] as $of){
            ?>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <hgroup>
                            <h6>Oferta ID: <?php print_r($of['id_oferta']) ?></h6>
                            <h5><?php print_r($of['nombre_oferta']) ?></h5>
                        </hgroup> 
                        <p><?php print_r($of['tipo_proyecto'].' - '.$of['comentarios']) ?></p>
                        <p>Publicado en <?php 
                            $date = strtotime($of['fecha_oferta']);
                            $newformat = date('l jS \of F Y h:i:s A',$date);
                            print_r($newformat); ?></p>
                        <div class="footer-oferta ">
                            <hr>
                            <ul class="d-flex justify-content-between align-items-center">
                                <li><a href="#" class="btn btn-default btn-sm" onclick="idOferta()">Ver detalle</a></li>
                                <form action="oferta_detalle" method="post">
                                    <input type="text" name="id_oferta" value="<?= $of['id_oferta'] ?>" hidden>
                                    <input type="text" name="nombre_oferta" value="<?= $of['nombre_oferta'] ?>" hidden>
                                    <input type="text" name="descripcion" value="<?= $of['descripcion'] ?>" hidden>
                                    <input type="text" name="fecha_oferta" value="<?= $of['fecha_oferta'] ?>" hidden>
                                    <input type="text" name="comentarios" value="<?= $of['comentarios'] ?>" hidden>
                                    <input type="text" name="url_documento" value="<?= $of['url_documento'] ?>" hidden>
                                    <input type="text" name="id_proyecto" value="<?= $of['id_proyecto'] ?>" hidden>
                                    <input type="text" name="tipo_proyecto" value="<?= $of['tipo_proyecto'] ?>" hidden>
                                    <button type="submit" id="botonOferta" hidden></button>
                                </form>
                            </ul>
                        </div><!--//FOOTER-OFERTA-->                   
                    </div><!--//CARD-BODY-->
                </div><!--//CARD--> 
            </div><!--//COL-->
            <?php
            }
        } 
        ?>
    </div>
    <!-- SI ES EMPRESA CARGO LAS OFERTAS HECHAS ASOCIADAS A SU PERSONA -->
    <div class="row mb-5 mt-5" >
        <?php if($id_tipo_persona == 2){
            foreach($_SESSION['ofertas'] as $of){
            ?>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <hgroup>
                            <h6>Oferta ID: <?php print_r($of['id_oferta']) ?></h6>
                            <h5><?php print_r($of['nombre_oferta']) ?></h5>
                        </hgroup> 
                        <p><?php print_r($of['tipo_proyecto'].' - '.$of['comentarios']) ?></p>
                        <p>Publicado en <?php 
                            $date = strtotime($of['fecha_oferta']);
                            $newformat = date('l jS \of F Y h:i:s A',$date);
                            print_r($newformat); ?></p>
                        <div class="footer-oferta ">
                            <hr>
                            <ul class="d-flex justify-content-between align-items-center">
                                <li><a href="#" class="btn btn-default btn-sm" onclick="idOferta()">Ver detalle</a></li>
                                <form action="oferta_detalle" method="post">
                                    <input type="text" name="id_oferta" value="<?= $of['id_oferta'] ?>" hidden>
                                    <input type="text" name="nombre_oferta" value="<?= $of['nombre_oferta'] ?>" hidden>
                                    <input type="text" name="descripcion" value="<?= $of['descripcion'] ?>" hidden>
                                    <input type="text" name="fecha_oferta" value="<?= $of['fecha_oferta'] ?>" hidden>
                                    <input type="text" name="comentarios" value="<?= $of['comentarios'] ?>" hidden>
                                    <input type="text" name="url_documento" value="<?= $of['url_documento'] ?>" hidden>
                                    <input type="text" name="id_proyecto" value="<?= $of['id_proyecto'] ?>" hidden>
                                    <input type="text" name="tipo_proyecto" value="<?= $of['tipo_proyecto'] ?>" hidden>
                                    <button type="submit" id="botonOferta" hidden></button>
                                </form>
                            </ul>
                        </div><!--//FOOTER-OFERTA-->                   
                    </div><!--//CARD-BODY-->
                </div><!--//CARD--> 
            </div><!--//COL-->
            <?php
            }
        } 
        ?>
    </div>
     <!--************************
        FIN CONTENIDO DEL INFORME
    *****************************-->
    </div>

    </main>

    <!--*SCRIPT*-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;rayId&quot;:&quot;68f2281d9ad02df4&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.8.1&quot;,&quot;si&quot;:10}"></script>
    <script>
        function idOferta() {
          boton = document.getElementById("botonOferta");
          boton.click();
        }
        </script>
    </body>
    </html>