<hr>
<div class="row justify-content-between align-items-center">
    <div class="col-md-7">
        <h2>
            <?= $template ?>
        </h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit est sed dolor hendrerit malesuada.
            Vestibulum sem ligula, iaculis in nunc luctus, vulputate faucibus eros. </p>
    </div>
    <div class="col-md-4 col-xs-12 text-right">
        <button data-toggle="modal" data-target="#AddPerfiles"
            class="btn btn-primary btn-block p-3  d-flex justify-content-center align-items-center"><i
                class="fa fa-address-card fa-2x mr-3"></i> Crear Perfiles</button>
    </div>

</div>
<!--//ROW-->
<hr>
<div class="row mb-5 mt-5">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                <h2>Perfiles Creados</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit est sed dolor hendrerit
                    malesuada. Vestibulum sem ligula, iaculis in nunc luctus, vulputate faucibus eros. </p>
                <table class="table table-striped dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo Profesional</th>
                            <th>Resumen</th>
                            <th>URL CV</th>
                            <th>Disponibilidad</th>
                            <th>Profesional</th>
                            <th>Plazo Proyecto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($perfiles as $pf): ?>
                        <tr>
                            <td>
                                <?= $pf['id_perfil'] ?>
                            </td>
                            <td>
                                <?= $pf['titulo_prof'] ?>
                            </td>
                            <td>
                                <?= $pf['resumen'] ?>
                            </td>
                            <td>
                                <?= $pf['url_cv'] ?>
                            </td>
                            <td>
                                <?= $pf['disponibilidad'] ?>
                            </td>
                            <td>
                                <?= $pf['nombre_persona'] ?>
                            </td>
                            <td>
                                <?= $pf['plazo_proyecto'] ?>
                            </td>
                            <td>
                                <button type="button" name="button" class="btn btn-light btn-sm"> <i
                                        class="fa fa-eye"></i></button>
                                <button type="button" name="button" class="btn btn-light btn-sm" data-toggle="modal"
                                    data-target="#editPerfil" type="button" name="button" class="btn btn-light btn-sm"
                                    data-id="<?= $pf['id_perfil'] ?>" data-url-cv="<?= $pf['url_cv'] ?>"
                                    data-disponibilidad="<?= $pf['disponibilidad'] ?>"
                                    data-id-persona="<?= $pf['id_persona'] ?>"
                                    data-plazo-proyecto="<?= $pf['plazo_proyecto'] ?>"
                                    data-titulo-prof="<?= $pf['titulo_prof'] ?>" data-resumen="<?= $pf['resumen'] ?>">
                                    <i class="fa fa-pencil"></i></button>
                                <button type="button" name="button" class="btn btn-light btn-sm" data-toggle="modal"
                                data-target="#deletePerfil" type="button" name="button" class="btn btn-light btn-sm"
                                data-id="<?= $pf['id_perfil'] ?>" data-titulo-prof="<?= $pf['titulo_prof'] ?>"> <i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>



                <!--
                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#createModal">Nuevo</a>
                <hr>
                <?php foreach($perfiles as $pf): ?>
                <div class="perfil-list d-flex justify-content-between align-items-center mb-3">
                    <div class="perfil-id">
                        <a href="perfiles/<?= $pf['id_perfil'] ?>" class="" data-bs-toggle="modal"
                            data-bs-target="#editModal<?= $pf['id_perfil'] ?>">
                            <span>
                                <?= $pf['id_perfil'] ?>
                            </span>
                            <p></p>
                        </a>
                    </div>
                    <div class="perfil-titulo">
                        <span>
                            <?= $pf['titulo_prof'] ?>
                        </span>
                        <p></p>
                    </div>
                    <div class="perfil-resumen">
                        <span>
                            <?= $pf['resumen'] ?>
                        </span>
                        <p></p>
                    </div>

                    <a href="<?= $pf['url_cv'] ?>">
                        <div class="perfil-cv">
                            <span>
                                <?= $pf['url_cv'] ?>
                            </span>
                            <p></p>
                        </div>
                    </a>

                    <div class="perfil-disponibilidad">
                        <span>
                            <?= $pf['disponibilidad'] ?>
                        </span>
                        <p></p>
                    </div>

                    <div class="perfil-persona">
                        <span>
                            <?= $pf['nombre_persona'] ?>
                        </span>
                        <p></p>
                    </div>

                    <div class="perfil-plazo">
                        <span>
                            <?= $pf['plazo_proyecto'] ?>
                        </span>
                        <p></p>
                    </div>

                    <div class="perfil-delete">
                        <a href="perfiles/<?= $pf['id_perfil'] ?>" class="" data-bs-toggle="modal"
                            data-bs-target="#deleteModal<?= $pf['id_perfil'] ?>">
                            Delete <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <form action="perfiles/delete/<?= $pf['id_perfil'] ?>" method="post">
                        <div class="modal fade" id="deleteModal<?= $pf['id_perfil'] ?>" tabindex="-1"
                            aria-labelledby="deleteLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <h5 class="modal-title text-center" id="modal">¿Está seguro que desea eliminar
                                            este
                                            perfil?
                                        </h5>
                                        <hr>
                                        <h1><b>
                                                <?= $pf['titulo_prof'] ?>
                                            </b></h1>
                                        <hr>
                                    </div>
                                    <div class="container">
                                        <div class="btn-group d-flex justify-content-between mb-3" role="group">
                                            <button type="button" tabindex="-1" class="btn btn-outline-orange"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-outline-orange">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal fade" id="editModal<?= $pf['id_perfil'] ?>" tabindex="-1"
                        aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <form id="form_perfil_<?= $pf['id_perfil'] ?>" name="form_perfil_<?= $pf['id_perfil'] ?>"
                                action="perfiles/update/<?= $pf['id_perfil'] ?>" method="post">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <h5 class="modal-title text-center" id="exampleModalLabel">Editar perfil</h5>
                                        <hr>

                                        <input type="text" id="titulo_prof" name="titulo_prof"
                                            placeholder="Titulo profesional" value="<?= $pf['titulo_prof'] ?>"
                                            class="form-control form-control-lg">
                                        <hr>
                                        <input type="text" id="resumen" name="resumen" placeholder="Resumen"
                                            value="<?= $pf['resumen'] ?>" class="form-control form-control-lg">
                                        <hr>
                                        <input type="text" id="url_cv" name="url_cv"
                                            placeholder="http://www.example.com/tituloCV" value="<?= $pf['url_cv'] ?>"
                                            class="form-control form-control-lg">
                                        <hr>
                                        <input type="text" id="disponibilidad" name="disponibilidad"
                                            placeholder="Disponibilidad" value="<?= $pf['disponibilidad'] ?>"
                                            class="form-control form-control-lg">
                                        <hr>
                                        <input type="text" id="plazo_proyecto" name="plazo_proyecto"
                                            placeholder="Plazo proyecto" value="<?= $pf['plazo_proyecto'] ?>"
                                            class="form-control form-control-lg">
                                        <hr>
                                        <input type="text" id="id_persona" name="id_persona" disabled
                                            placeholder="Persona" value="<?= $pf['nombre_persona'] ?>"
                                            class="form-control form-control-lg">
                                        <hr>
                                    </div>
                                    <div class="container">
                                        <div class="btn-group d-flex justify-content-between mb-3" role="group">
                                            <button type="button" class="btn btn-outline-orange"
                                                data-bs-dismiss="modal">Volver</button>
                                            <button type="submit" class="btn btn-outline-orange">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <?php endforeach; ?>
                <form action="perfiles/create" method="post">
                    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="editModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <h5 class="modal-title text-center" id="exampleModalLabel">Crear Perfil</h5>
                                    <hr>

                                    <input type="text" id="titulo_prof" name="titulo_prof"
                                        placeholder="Titulo profesional" value="" class="form-control form-control-lg">
                                    <hr>
                                    <input type="text" id="resumen" name="resumen" placeholder="Resumen" value=""
                                        class="form-control form-control-lg">
                                    <hr>
                                    <input type="text" id="url_cv" name="url_cv"
                                        placeholder="http://www.example.com/tituloCV" value=""
                                        class="form-control form-control-lg">
                                    <hr>
                                    <input type="text" id="disponibilidad" name="disponibilidad"
                                        placeholder="Disponibilidad" value="" class="form-control form-control-lg">
                                    <hr>
                                    <input type="text" id="plazo_proyecto" name="plazo_proyecto"
                                        placeholder="Plazo proyecto" value="" class="form-control form-control-lg">
                                    <hr>
                                </div>
                                <div class="container">
                                    <div class="btn-group d-flex justify-content-between mb-3" role="group">
                                        <button type="button" class="btn btn-outline-orange"
                                            data-bs-dismiss="modal">Volver</button>
                                        <button type="submit" class="btn btn-outline-orange">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddPerfiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form_create_perfiles" name="form_create_perfiles" action="perfiles/create" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Perfil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mr-2">
                                            <label for="titulo_prof" class="form-label">Titulo Profesional</label>
                                            <input type="text" id="titulo_prof" name="titulo_prof"
                                                placeholder="Titulo profesional" value=""
                                                class="form-control input-border" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="resumen" class="form-label">Resumen</label>
                                        <textarea type="text" id="resumen" name="resumen" placeholder="Resumen" cols="40" rows="20"
                                            class="form-control input-border"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">URL CV</label>
                                            <input type="text" id="url_cv" name="url_cv"
                                                placeholder="http://www.example.com/tituloCV" value=""
                                                class="form-control input-border">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">Disponibilidad</label>
                                            <input type="text" id="disponibilidad" name="disponibilidad"
                                                placeholder="Disponibilidad" value="" class="form-control input-border">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">Disponibilidad</label>
                                            <input type="text" id="plazo_proyecto" name="plazo_proyecto"
                                                placeholder="Plazo proyecto" value=""
                                                class="form-control input-border">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="id_persona" class="form-label">Profesional</label>
                                            <select id="id_persona" name="id_persona"
                                            class="form-control input-border" disabled>
                                            <?php foreach($prof as $pr): ?>
                                            <option value="<?= $pr['id_persona'] ?>">
                                                <?= $pr['nombre_razonsocial']." ".$pr['apellidos'] ?>
                                            </option>
                                            <?php endforeach; ?>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success ">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form_edit_perfiles" name="form_edit_perfiles" action="perfiles/update" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mr-2">
                                            <label for="titulo_prof" class="form-label">Titulo Profesional</label>
                                            <input type="text" id="titulo_prof" name="titulo_prof"
                                                placeholder="Titulo profesional" value=""
                                                class="form-control input-border" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="resumen" class="form-label">Resumen</label>
                                        <textarea type="text" id="resumen" name="resumen" placeholder="Resumen" cols="40" rows="20"
                                            class="form-control input-border"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">URL CV</label>
                                            <input type="text" id="url_cv" name="url_cv"
                                                placeholder="http://www.example.com/tituloCV" value=""
                                                class="form-control input-border">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">Disponibilidad</label>
                                            <input type="text" id="disponibilidad" name="disponibilidad"
                                                placeholder="Disponibilidad" value="" class="form-control input-border">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="resumen" class="form-label">Disponibilidad</label>
                                            <input type="text" id="plazo_proyecto" name="plazo_proyecto"
                                                placeholder="Plazo proyecto" value=""
                                                class="form-control input-border">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="id_persona" class="form-label">Profesional</label>
                                            <select id="id_persona" name="id_persona"
                                            class="form-control input-border" disabled>
                                            <?php foreach($prof as $pr): ?>
                                            <option value="<?= $pr['id_persona'] ?>">
                                                <?= $pr['nombre_razonsocial']." ".$pr['apellidos'] ?>
                                            </option>
                                            <?php endforeach; ?>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success ">Guardar Cambios</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletePerfil" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="form_delete_perfiles" name="form_delete_perfiles" action="" method="post">
                    <div class="modal-body text-center">
                        <h5 class="modal-title text-center" id="modal">¿Está seguro que desea eliminar
                            este perfil?
                        </h5>
                        <hr>
                        <h2><b>
                                <span id="modal-delete-titulo-prof"></span>
                            </b></h2>
                        <hr>
                    </div>
                    <div class="modal-footer">
                            <button type="button" tabindex="-1" class="btn btn-outline-secondary"
                                data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
